@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.register_all {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}

.form input {
  height: 40px;
  border: none;
  outline: none;
  border: 1px solid gray;
  border-radius: 5px;
  padding-left: 10px;
}

.form button {
  height: 40px;
  background-color: blue;
  color: #ffffff;
  font-size: 17px;
  border-radius: 5px;
}

.login {
  font-size: 17px;
  color: blue;
}
