* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.navbar {
  border-bottom: 1px solid rgb(210, 208, 208);
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 29;
}
.navbar_all {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 140px;
  height: 90px;
}

.link ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

.link a {
  font-size: 19px;
  color: #000;
  font-weight: 700;
}

.btn {
  display: flex;
  align-items: center;
  gap: 40px;
}

.btn button {
  width: 120px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 17px;
  font-size: 17px;
  color: #000;
  background-color: transparent;
}

.btn select {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  font-size: 17px;
  font-weight: 500;
}

.showcase_all {
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.text {
  text-align: center;
  width: 70%;
}
.text h1 {
  font-weight: 700;
  font-size: 55px;
  letter-spacing: 0em;
  color: #1d1d1d;
  padding-bottom: 20px;
}

.text p {
  font-weight: 400;
  font-size: 20px;
  line-height: 170%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #464646;
}

.imgs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 60px;
}

.imgs img {
  width: 100%;
  height: 400px;
}

.showcase_all button {
  width: 220px;
  border: 1px solid blue;
  height: 40px;
  border-radius: 25px;
  background-color: transparent;
  font-size: 17px;
  color: blue;
  font-weight: 500;
}

.talkText h1 {
  text-align: center;
  font-weight: 700;
  font-size: 55px;
  letter-spacing: 0em;
  color: #1d1d1d;
}

.card {
  border-radius: 20px;
  width: 380px;
  height: 335px;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  padding: 40px;
}

.top {
  display: flex;
  align-items: center;
  gap: 20px;
}

.top h3 {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #377dff;
}

.top p {
  font-weight: 400;
  font-size: 11px;
  padding-top: 7px;
  letter-spacing: 0.01em;
  color: #464646;
  opacity: 0.5;
}

.bottom {
  margin-top: 40px;
}

.bottom p {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.01em;
  color: #464646;
  opacity: 0.8;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
  gap: 30px;
}

/* Login */

.login_all {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 30%;
}

.form input {
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  border: 1px solid gray;
  padding-left: 10px;
}

.form a,
.regster {
  font-size: 17px;
  color: blue;
}

.form button {
  height: 40px;
  background-color: blue;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
}
